.hobby-box {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hobby-content {
    padding: 1rem 2% 1rem 1%;
    font-family: Roboto-Regular;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

.custom-gap .col-2 {
    margin: 0 20px;
}