.education-card {
    margin-bottom: 20px; 
    width: 66.063rem;
    height: 22.5rem;
    box-shadow: 0px 6px 64px 0px #7090B01A;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.education-title {
    font-family: Roboto-Regular;
}

.education-course {
    font-family: Nunito;
}

.experience-description {
    font-family: Nunito;
    font-size: 18px;
}

.experience-date {
    font-family: Nunito;
}