@font-face {
    font-family: Poppins;
    src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

.name {
    font-family: Poppins;
    font-weight: 700;
}

.about-flex {
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.info {
    max-width: 500px;
}

.info .profession {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto-Regular';
}


.image-stack {
    float: left;
    width: 280px;
    height: 280px;
    padding-bottom: 20px;
}

.rect {
    /* left: -350px; */
    margin-left: 0px;
}

.description {
    font-family: Roboto-Regular;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.socials {
    padding: 0.5rem 0 0 0;
}

.ico-circle {
    display: flex;
}

.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px var(--brand-color);
    transition: all 500ms ease;
    justify-content: center;
    align-items: center;
}

.socials ul li {
    display: inline-block;
}

.icons {
    color: black;
    float: left;
}

.ico-circle:hover {
    background-color: var(--brand-color)
}