:root {
    --brand-color: #FDC435;
}

@font-face {
    font-family: Comfortaa;
    src: url('/src/assets/fonts/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('/src/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Raleway;
    src: url('/src/assets/fonts/Raleway.ttf') format('truetype');
}

@font-face {
    font-family: Nunito;
    src: url('/src/assets/fonts/Nunito.ttf');
}


body {
    font-family: Comfortaa;
    background-color: #F9FAFF;
}

.navbar-menu {
    cursor: pointer;
}

.custom-scroll-link {
    /* Your base styles for the react-scroll Link component */
    color: black; /* Default link color */
    transition: color 0.3s; /* Smooth color transition on hover */
    transition: border-bottom 0.3s;
    border-bottom: 2px solid transparent;
  }
  
.custom-scroll-link:hover {
    border-bottom: 2px solid var(--brand-color); /* Change color on hover */
}

.sections {
    position: relative;
    top: 50px;
}

.underline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.underline-white {
    width: 80px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin-top: 8px;
    margin-left: -10px;
}

.underline-brand-color {
    width: 80px;
    height: 2px;
    background-color: var(--brand-color);
    border-radius: 2px;
    margin-top: 8px;
    margin-left: -10px;
}

.section-brand-background {
    background-color: var(--brand-color);
}

.section-heading {
    padding: 35px;
}

.white-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

.box-image {
    display: block;
    overflow: hidden;
    padding: 10px;
}

.box-image img {
    transition: all 1s;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.box-content {
    padding: 2rem 3% 1rem 4%;
}

.content-title {
    font-family: Roboto-Regular, 'sans-serif';
}

.content-description {
    font-family: Roboto-Regular, 'sans-serif';
}