.company-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.experience-card {
    margin-bottom: 20px; 
    width: 65.625rem;
    height: 32.75rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #FFFFFF;
}

.experience-card-body {
    display: flex;
    flex-direction: row;
}

.experience-info {
    margin-left: 50.44px;
    margin-top: 160px;
    max-width: 496px;
    text-align: left;
}

.company-name {
    font-family: Roboto-Regular;
    font-size: 1.5rem;
}

.role {
    font-family: Nunito;
}

.experience-description {
    font-family: Nunito;
    font-size: 18px;
}

.experience-date {
    font-family: Nunito;
}